* {
    font-family: sans-serif;
}

#main-title{
    font-size: 8vmin;
    margin-top: 5px;
    font-weight: 700;
    text-transform: capitalize;
    text-align:left ;
  }

  .image_section img{
    display: block;
}

@media (max-width:640px) {
    img#optionalstuff {
      display: none;
      flex: auto;
    }
  }

#inputs{
    width: 50vw;
    border: 2px solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    justify-content: space-between;

}



#button {
    width: 50%;
    background-color: rgb(54, 201, 59); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }

#divider{
    width:2px;
    height:auto;
    display:inline-block;
    padding: 1em;
    margin: 0;
}



#reserve-div {
    display: flex;
    flex-direction: row;
    
}

/*
.MuiFormControl-marginNormal{
    width: 40%;
    margin-left: 5px;
    align-content: center;
    float: left;
}*/


#date-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    --padding-top: 2vh;
    margin: 0
}
/*
#date-picker-dialog{
    position: relative;
    left: -27%;
    width:60%;
    float: left;

}

#time-picker{
    position: relative;
    left: -27%;
    width: 60%;
    margin-left: 2vw;
    float: left;
}
*/

#reserve-form  {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 5vmin 5vmin 0 5vmin;
    width: 100vw;
}

.form-group > input {
    background: transparent;
    border-radius: 5px;
    padding: 4%;
    padding-left: 2%;
    border-color: rgb(212, 212, 212);
    transition: border-color 0.5s, border-width 0.5s;
}


.btn-primary  {
    margin: auto;
}



#item {
    border: 1px solid rgb(126, 126, 126);
    width: 10vw;
    text-align: center;
    margin: 2vmin;
    padding-left: 2%;
    background-color: white;
    border-radius: 10px;
    
}
